@{
    ViewBag.Title = "Database tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <p>Characters</p>
        <a href="@Url.Action("Index", "Characters")">Characters</a>
        <hr/>
    </div>
    <div>
        <p>Humanoids</p>
        <a href="@Url.Action("Index", "Humanoids")">Humanoids</a>
        <hr />
    </div>
    <div>
        <p>Weapons</p>
        <a href="@Url.Action("Index", "Weapons")">Weapons</a>
        <hr />
    </div>
    <div>
        <p>Armors</p>
        <a href="@Url.Action("Index", "Armors")">Armors</a>
        <hr />
    </div>
    <div>
        <p>Spells</p>
        <a href="@Url.Action("Index", "Characters")">Spells</a>
        <hr />
    </div>
</div>
